html {
	color: #000;
	background: #FFF
}

main, body {
    overflow:hidden;
    font: helvetica,arial,sans-serif;
}

/* LOGO START */
#bd {
    text-align: center;
    position: fixed;
    width: 521px;
    left: 50%;
    transform: translate(-50%, 0%)
}

#yahoo-logo {
    margin-top: 80px;
    margin-bottom: 35px;
}
/* LOGO END */

/* SEARCH BAR START */
* {
    box-sizing: border-box;
}
  
  /* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #7590f5;;
    float: left;
    width: 80%;
    background: #FFF;
}
  
  /* Style the submit button */
form.example button {
    border-radius: 0px 10px 10px 0px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #524dfe;
    color: #FFF;
    font-size: 17px;
    border: 1px solid #524dfe;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
  
form.example button:hover {
    /* Yahoo's button doesn't nothing hovered, not even shadows.*/
}
  
  /* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}
/* SEARCH BAR END */

/* FOOTER START */
#ft {
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    text-align: center;
    color: #1d1da3;
    padding-bottom: 40px;
}

ul {
    font-family:  "helvetica neue",helvetica,arial,sans-serif;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 13px;
    line-height: 1.25;
    
    list-style: none;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
}

li {
    display: inline;
    padding: 8px;
}

.updated {
    color: #324FE1;
    font-weight: bold;
    font-size: 13px;
    padding-left: 4px;
}

#yahoo-name {
    color: #5f5f5f;
    font-size: 13px;
}

.small-blue-words {
    font-size: 11px;
}
/* FOOTER END */