#logo {
	height: 37px;
	width: 142px;
	top: 0;
	left: 0;
	position: absolute;
	margin-top: 5px;
	display: block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background-repeat: no-repeat;
	outline: none;
}

#logo {
	background-image: url(https://s.yimg.com/pv/static/img/yahoo-search-logo-142x37.png);
	*background-image: url(https://s.yimg.com/pv/static/img/yahoo-search-logo.gif);
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	#logo {
		background-image: url(https://s.yimg.com/pv/static/img/yahoo-search-logo-142x37-2x.png);
		background-size: 142px
	}
}

.sd #logo {
	top: 0;
	left: 0;
}

.sa-grp-hdr {
	height: 27px;
	line-height: 27px
}

.sa-grp-hdr-icon {
	margin: 0 6px 0 10px
}

.trending .sa-grp-hdr-icon {
	background-image: url(https://s.yimg.com/pv/static/img/trending_gray-201604221719.png);
	height: 10px;
	width: 16px;
	display: inline-block
}

.sa-grp-hdr-title {
	font-size: 13px
}

.trending .sa-grp-hdr-title {
	color: #9EA2AF
}

.sa.lowlight.sa-noQuery .sa-tray-list-container li.trending {
	font-weight: 400!important
}

#algo-bd ol.reg {
	margin: 0;
	padding: 0;
	list-style-type: none
}

.dd-overlay .ico,
.dd .ico {
	background-image: url("https://s.yimg.com/pv/static/img/cosmos_sprite1x-1618526901261.min.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
	.dd-overlay .ico,
	.dd .ico {
		background-image: url("https://s.yimg.com/pv/static/img/cosmos_sprite2x-1618526901261.min.png");
	}
}